# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: nubemox-db
    environment:
      POSTGRES_USER: nubemox_user
      POSTGRES_PASSWORD: nubemox_password
      POSTGRES_DB: nubemox_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: